@{
    ViewBag.Title = "About";
}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>About Us</h4>
                            <p>
                                Mapple Certification Services is an Independent,  Certification Body established as per requirement of IS/ISO/IEC 17021-1:2015 (Conformity Assessment-Requirements for Bodies providing Audit and Certification of Management Systems). Mapple have vision of Quality Transformation through it Services and rightnow we are providing ISO Certification Services. We offer Management Certification, Product Certification & Lead Auditor Training & main objective is to safeguard life, property and environment through quality assurance services.
                            </p>
                            <p> Mapple Certification Services gives value added assessment by its trained, quality conscious, experienced auditors & technical experts. Mapple provide unbiased auditing service to its clients. we believe in being customer focused compentent, efficient. Mapple is having goal for both Manufacturing and Services Industries and look for the interest of Large, Medium and small Scale Industries in India.
                            </p>
                        </div>

                        <div class="about-details-cap mb-50">
                            <p>
                                The "independently Certification Body" aims to promote, encourage awareness, quality control, and help to continuously improve certification management issues within industry, commerce and the public domain. We understand the importance of impartiality in carrying out our management system certification activities, manage conflict of interest and ensure the objectivity of our management system certification activities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </main>
