
@{
    ViewBag.Title = "ACCREDITATION";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

ISO 10002:2004: Quality Management - Customer Satisfaction Certification
<div class="about-details section-padding10">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>OUR ACCREDITATION</h4>

                    <p>
                        Accreditation implies that we have been evaluated against globally perceived standards and work to the most significant levels of quality and administration. Being certify gives you confirmation to you that the certificates of ISO 9001, ISO 14001, OHSAS 18001, ISO 22000, ISO 27001, ISO 13485, ISO 50001, ISO 37001 are trustworthy, genuine, unbiased and have been given subsequent to guaranteeing the degree of conformance according to the particular standard.

                    </p>
                    <p>
                        Our accreditation decreases the hazard to you and your clients and gives you complete certainty that we have been assessed according to the worldwide standards for our competency and execution capacity.

                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>WHO WE ARE ACCREDITED BY ?</h4>
                    <p>
                        We are among the most respected and trustworthy Management System Certification body and accredited by worldwide bodies including:




                    </p>
                    <p>
                        DAC- DEUTSCHE  ACCREDITATION COUNCIL


                    </p>
                    <p>
                        To empower us to give a cost-effective administration, we consistently audit our accreditation plans upheld by nearby surely understood and valid accreditation as proper to our client prerequisites and the neighborhood market needs.

                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>
                        How to Get ISO 9001, ISO 14001, OHSAS 18001, ISO 22000, ISO 13485, ISO 27001 and Other Certifications Easily?

                    </h4>
                    <p>
                        Go for the execution according to the principles:
                    </p>
                    <p>
                        You realize that actualizing the system standards in your association has numerous advantages just as advancing beyond the challenge.

                    </p>
                    <p>
                        You additionally realize that being freely surveyed and ensured with different global system standards gives you validity and draws in new clients.

                    </p>
                    <p>
                        Notwithstanding, you might not have the required assets and mastery and time in house to accomplish this all alone.

                    </p>
                    <p>
                        We can demonstrate how and where to get this needed extra help.

                    </p>
                </div>
                <div class="about-details-cap mb-50">
                    <h4>Apply for Certification:</h4>

                    <p>  As you are prepared with the actualized framework, send the filled application structure.</p>
                    <p> The application structure is sent to the accreditation board.</p>
                    <p> The enlistment endorsement is received within 2 working days from the board.</p>
                    <p>  The Financial choice is taken and the citation and agreement is signed</p>
                </div>
                <div class="about-details-cap mb-50">
                    <h4>Get your System Audited:</h4>

                    <p>  When the budgetary part is chosen, you prepare to be audited for the certifications.</p>
                    <p> Confirmation of the audit date is done and the auditor is looked over the rundown of auditors by the board.</p>
                    <p> The Certificate is Valid for three years is discharged within 15 working days after the audit is performed effectively.</p>
                    <p> A chosen recurrence of observation audit is chosen by the board and the reconnaissance procedure is pursued between the 3 years cycle of the certification.</p>
                    <p> A re-certification audit is led after the cycle of 3 years and the procedure proceeds.</p>
                </div>



            </div>
            </div>
    </div>
</div>


