
@{
    ViewBag.Title = "GoodManufacturingPractice";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="about-details section-padding10">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Good Manufacturing Practice (GMP) Certification</h4>
                    
                    <p>
                        GMP refers to the Good Manufacturing Practice Regulations promulgated by the US Food and Drug Administration under the authority of the Federal Food, Drug, and Cosmetic Act (See Chapter IV for food, and Chapter V, Sub chapters A, B, C, D, and E for drugs and devices.) These regulations, which have the force of law, require that manufacturers, processors, and packagers of drugs, medical devices, some food, and blood take proactive steps to ensure that their products are safe, pure, and effective. GMP regulations require a quality approach to manufacturing, enabling companies to minimize or eliminate instances of contamination, mixups, and errors. This in turn, protects the consumer from purchasing a product which is not effective or even dangerous. Failure of firms to comply with GMP regulations can result in very serious consequences including recall, seizure, fines, and jail time

                    </p>
                    <p>
                        GMP regulations address issues including record keeping, personnel qualifications, sanitation, cleanliness, equipment verification, process validation, and complaint handling. Most GMP requirements are very general and open-ended, allowing each manufacturer to decide individually how to best implement the necessary controls. This provides much flexibility, but also requires that the manufacturer interpret the requirements in a manner which makes sense for each individual business.

                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4> All guidelines follow a few basic principles</h4>
                    <p>
                        Hygiene: Pharmaceutical manufacturing facility must maintain a clean and hygienic manufacturing area.


                    </p>
                    <p>
                        Controlled environmental conditions in order to prevent cross contamination of drug product from other drug or extraneous particulate matter which may render the drug product unsafe for human consumption.

                    </p>
                    <p>
                        Manufacturing processes are clearly defined and controlled. All critical processes are validated to ensure consistency and compliance with specifications.
                    </p>
                    <p>
                        Manufacturing processes are controlled, and any changes to the process are evaluated. Changes that have an impact on the quality of the drug are validated as necessary.
                    </p>
                    <p>
                        Instructions and procedures are written in clear and unambiguous language. (Good Documentation Practices.
                    </p>
                    <p>
                        Operators are trained to carry out and document procedures.
                    </p>
                    <p>
                        Records are made, manually or by instruments, during manufacture that demonstrate that all the steps required by the defined procedures and instructions were in fact taken and that the quantity and quality of the drug was as expected. Deviations are investigated and documented.

                    </p>
                    <p>
                        Records of manufacture (including distribution) that enable the complete history of a batch to be traced are retained in a comprehensible and accessible form.

                    </p>
                    <p>
                        The distribution of the drugs minimizes any risk to their quality.
                    </p>
                    <p>
                        A system is available for recalling any batch of drug from sale or supply.
                    </p>
                    <p>
                        Complaints about marketed drugs are examined, the causes of quality defects are investigated, and appropriate measures are taken with respect to the defective drugs and to prevent recurrence.
                    </p>

                </div>







            </div>
        </div>
    </div>
</div>

