
@{
    ViewBag.Title = "GOSTRCertification";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="about-details section-padding10">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>GOST R Certification</h4>

                    <p>
                        GOST is the valid quality certification system in Russian Federation. ( With the other words, it is called GOST-R Certification) GOST is very important for Russian companies and exporters to the Russia and carries the same meaning of ISO 9000 series certificates for the western companies. GOST-TR is the approved quality indicator for Russia.

                    </p>
                    <p>
                        Certification GOST-TR is not only engaged with the quality management of the subject company, but also focused the products of it. With the other words, to obtain of this certificate the tests of samples are necessary. These test are made on accredited laboratories by GOST STANDARD. (Russian Governmental Standards Organization) According to these tests the certificates are given to the willing company.
                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>Why is GOST-R Certification Necessary?</h4>
                    <h5>Usually Certificate is necessary for two cases:</h5>
                    <p>
                        Customs house


                    </p>
                    <p>
                        Realization of products at Russian market

                    </p>

                </div>

                <div class="about-details-cap mb-50">
                    <h4> Some other benefits of GOST-R certification</h4>
                    
                    <p>
                        The Law on Certification of Products and Services stipulates two types of certification – mandatory and voluntary certification. The Law on Protection of Rights of Consumers and the Law on Standardization regulate mandatory certification process and identify products that are subject to this type of certification.
                        

                    </p>
                    <p>
                        According to the order of the State Customs Committee of Russia from 01.10.2000, production of foreign manufacturers imported in the country should respond the national quality standards, therefore is the subject to certification.

                    </p>
                    <p> Certification GOST may be carried out concerning the goods or industrial activities of the firm. The goods, passed process of certification and received certificate of conformity GOST by results of expertise, do not meet any difficulties at registration of customs documents.</p>

                </div>






            </div>
        </div>
    </div>
</div>


