
@{
    ViewBag.Title = "ISO13485";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="about-details section-padding10">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Structure of ISO 13485- QMS – Medical Devices</h4>
                    <p>
                        ISO 13485- QMS – Medical Devices is an international standard that defines the requirements for the Quality Management system for the manufacturers, contract services, suppliers, distributors of the medical devices.

                    </p>
                    <p> The basis for ISO 13485 is ISO 9001 standard and the same is structure is referred for ISO 13485 completion. The ISO 13485 standard for the medical devices- Quality management system- Requirements for regulatory purpose, is one of the major basis for the regulatory compliance in the local and most of the international markets. ISO 13485 Certification is mandatory for the companies who are into the export of medical devices to other countries. The main objective of the standard is to bring harmony between the legal requirements and the management system being followed to manufacture or trade the medical devices.
                    </p>

</div>

                <div class="about-details-cap mb-50">
                    <h4>Benefits of ISO 13485 Certification</h4>
                    <p>
                        Expansion in national and international market Access (Increase device sales by accessing more national and international markets.)


                    </p>
                    <p>
                        Meet and regularly monitor Regulatory Requirements

                    </p>
                    <p>
                        Gain a competitive edge
                    </p>
                    


                </div>
                <div class="about-details-cap mb-50">
                    <h4>Expanded market access :</h4>
                    <p>
                        The national regulatory authorities prefer the manufacturers marketing the products in the market which are audited and certified as per ISO 13485 international management system standard. The countries investing in such critical products, need to be sure of the product’s quality. Any organization investing in ISO 13485 Certification and implementation gives a national and international market entry.


                    </p>
                    

                </div>
                <div class="about-details-cap mb-50">
                    <h4>Reduced cost of sales:</h4>
                    <p>

                        The ISO 13485 establishes your companies credibility and commitment to the quality. As the task of explaining the specifications and quality and demonstrating the effectiveness of your quality system is more straightforward, it takes very less time to earn the trust and confidence of your customer’s which ultimately reduces the cost and time of sales.


                    </p>
                    

                </div>

                <div class="about-details-cap mb-50">
                    <h4>Improved performance:</h4>
                    <p>
                        ISO 13485 Certification is a widely accepted system of process control. The certified process of your company helps you to improve the quality and system of your products manufactured. This helps you to strengthen the relation between your customers, business partners, suppliers and gives you a real advantage in the market place.




                    </p>
                   
                </div>

                <div class="about-details-cap mb-50">
                    <h4>
                        Integrated Services :
                    </h4>
                    <p>
                        ISO 13485 can be integrated with ISO 9001
                    </p>
                    <p>
                        ISO 13485 can be integrated with ISO 14001


                    </p>
                    <p>
                        ISO 13485 can be integrated with ISO 45001



                    </p>

                    <p>
                        ISO 13485 can be integrated with ISO 27001


                    </p>
                    
                    <p>
                        ISO 13485 can be integrated with CE Compliance and certification
                    </p>
                </div>

                
               
            </div>
        </div>
    </div>
</div>

