
@{
    ViewBag.Title = "ISO10002";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="about-details section-padding10">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>ISO 10002:2004: Quality Management</h4>
                    <h5>Customer Satisfaction Certification</h5>
                    <p>
                        ISO 10002:2004 gives guidance on the procedure of complaints handling related to products within an organization, including planning, design, operation, preservation and development. The complaints-handling procedure described is appropriate for use as one of the procedures of an overall quality management system.

                    </p>
                    <p> The handling of complaints through a procedure as described in ISO 10002 should improve client approval. Encouraging customer feedback (including complaints) should offer opportunities to maintain or develop client loyalty and approval, and progress domestic and international competitiveness.
                    </p>
</div>

                <div class="about-details-cap mb-50">
                    <h4>Benefits of ISO 10002:2004</h4>
                    <p>
                        Resolving complaints to the approval of the complainant and the organization.


                    </p>
                    <p>
                        Customer-focused approach to resolving complaints.

                    </p>
                    <p>
                        Obtain information on new expectations.
                    </p>
                    <p>
                        Recognize trends and therewith remove causes of complaints.
                    </p>
                    <p>
                        Obtain information on new expectations.
                    </p>
                    <p>
                        Recognize trends and therewith remove causes of complaints.
                    </p>
                    <p>
                        Basis for frequent review and analysis of the complaints-handling procedure.
                    </p>
                    <p>
                        Encourage personnel to develop their skills in working with clients.
                    </p>
                </div>
                
                
                
               

                
                
            </div>
        </div>
    </div>
</div>

