
@{
    ViewBag.Title = "ISO37001";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="about-details section-padding10">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>ISO 37001-ANTI-BRIBERY MANAGEMENT SYSTEM</h4>

                    <p>

                        The ISO 37001 standard, distributed in 2016, is a certification standard for Anti-Bribery Management Systems.

                    </p>
                    <p>
                        ISO 37001 Certification standard offers necessities to setting up, executing, keeping up, studying and improving a foe of Ant bribery management system
                    </p>
                    <p>
                        This standard is planned for a wide scope of relationship from any portion and for Anti-Bribery they may go up against. Beside this, it can similarly be completed as an autonomous standard or be consolidated with other administration framework. This standard is expected to for a wide scope of affiliations, any sort of part and any danger of bribery hazard it faces, and isolated from that it might be executed as an autonomous or can similarly be joined into a general administration framework.

                    </p>
                    <p>
                        ISO 37001 Certification engages your relationship to apply a movement of measures that can fill in as a structure for you to complete controls that may redesign your ability to address bribery chance.

                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>For what reason is ISO 37001 Certification (Anti-Bribery Management System) significant for you.</h4>
                    <p>
                        ISO 37001 fills in as a framework in the safety measure of legitimate uprightness and fights trace-ability related risks and to stimulate an OK business culture. It urges relationship to foresee, recognize and respond to trace-ability and agree to against anti-bribery laws and purposeful obligations significant to its activities.




                    </p>
                    <p>
                        Transforming into an ISO 37001 Certification ensured capable urges you to isolate yourself with displayed against bribery expertise and all the while separate your association from rivals. This standard is proposed to control, recognize, distinguish and respond to possible trace-ability risks. The necessities of this standard engage the relationship to execute a foe of bribery framework and set up convincing adversary of bribery systems and methodology.


                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>  ADVANTAGES/IMPORTANCE: </h4>
                    <p>
                        The standard gives least prerequisites and supporting direction for executing an enemy of an anti-bribery management system.
                    </p>
                    <p>
                        Certification to ISO 37001 gives confirmation to the board, financial specialists, business partners, work force, and different partners that an association has taken proper measures to avert remuneration. Implementing the measures of the standard reduce the risk of malpractice.

                    </p>
                    <p>
                        Implementation and certification can be used as evidence of due diligence in case of disputes.

                    </p>
                    <p>
                        The ISO 37001 Certification standard pursues a similar structure as ISO 9001, ISO 14001 and ISO 45001 and can without much of a stretch is incorporated into existing administration frameworks.
                    </p>
                    <p>
                        During the certification audit, our evaluators identify potential for development and make suggestions to expand the viability of your anti-bribery system.
                    </p>

                </div>
                <div class="about-details-cap mb-50">
                    <h4>Who can go for ISO 37001 Certification ?</h4>
                    <p>
                        ISO 37001 is flexible and can be adapted to a wide range of organizations, irrespective of size, sector, structure, geography, or jurisdiction. It is applicable to small, medium, and large organizations, as well as parts of an organization. In the private sector, ISO 37001 can be used by business enterprises as well as not-for-profit and non-governmental organizations. ISO 37001 Certification can also be used in the public sector.

                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>Certification PROCESS :</h4>
                    <p> 1. Submission of Questionnaire & Appendix</p>
                    <p> 2. Issuance of Quotation</p>
                    <p> 3. Submission of Application</p>
                    <p>4. Stage-1 Audit</p>
                    <p>5. Stage-2 Audit</p>
                    <p>6. Recommendation and Approval</p>
                    <p>7. Issuance of Certificate</p>
                    <p>8. Surveillance Audit/Re-certification</p>

                </div>

                <div class="about-details-cap mb-50">
                    <h4>Why picked MAPPLE Certifications ?</h4>

                    <p>
                        MAPPLE Certifications is a confided in examination powerhouse for affiliations searching for brief a motivating force from their data. A significant seat of examination game plans and wide industry learning keep our customers returning and feeling sure. With MAPPLE Certification you can discover bits of learning from your data and appreciate everything. Perceive what’s working and fix what isn’t. Choose progressively smart decisions. Additionally, drive material change.
                    </p>
                 </div>



                </div>
            </div>
    </div>
</div>


