
@{
    ViewBag.Title = "ISO50001";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<div class="about-details section-padding10">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>What is Energy Management System ?</h4>

                    <p>
                        ISO 50001 Certification – Energy Management system specifies the requirements for establishing & maintaining the EMS whose objective is to enable any Business to follow an organized process in achieving the continual improvement in the energy performance of its organization.

                    </p>
                    <p>
                        ISO 50001 Certification specifies all the requirements applicable to energy use and consumption, including the design, reporting and procurement for equipment.

                    </p>
                    <p>
                        ISO 50001 applies to all the variables involved in the affecting the performance of the energy that can be monitored and influenced by the organization. ISO 50001 does not prescribe specific performance criteria with respect to the energy. ISO 50001 has been designed to be used independently, but it can be aligned or integrated with various other international management systems such as ISO 9001, ISO 14001, OHSAS 18001, and ISO 45001.

                    </p>
                    <p>
                        ISO 50001 is applicable to any type of organization irrespective of size and nature of the organization. Any organization wishing to make sure that its management system and the stated energy policy and wishes to demonstrate this to its interested parties, such conformity being confirmed by means of self evaluation and self declaration or audited by the certification of the energy management system by Mapple Certification.

                    </p>
                    <p>
                        ISO 50001 Certification is the international standard for energy management system. It provides the organization with a defined set of framework for understanding and implementing the areas of use of energy and integrating the energy efficiency and management practices and facilitating continual improvement of energy performance.
                    </p>
                    <p>
                        This proves your business to be one of the organizations which are involved in the managing energy use effectively and participate in the reduction of greenhouse gas emissions, best practices and sustainability.

                    </p>
                    <p>
                        We at SIS make sure that the entire certification process is simple and easy. We understand your existing set up and figure out the drawbacks when compared to ISO 50001 certification requirements.
                    </p>
                </div>

                <div class="about-details-cap mb-50">
                    <h4>  Benefits of Energy Management System :</h4>
                    <p>
                        ISO 50001 would prove your system and organization to a responsible one and keep energy management as one of the most important target. You would grow better and the increase in the profits will be the result of following the ISO 50001 Certification guidelines.




                    </p>
                </div>
                <div class="about-details-cap mb-50">
                    <h4>  Specifically ISO 50001 will:</h4>

                    <p> 1. Significantly reduce energy costs through proper management of use and wastage of the energy.</p>
                    <p> 2. Induction of good energy management culture within the organization.</p>
                    <p> 3. Increase the energy efficiency through the supply chain.</p>
                    <p> 4. new energy tools will be introduced which shall reduce the wastage of energy.</p>
                    <p> 5. Lowers the risk of contractual and legal obligations and increase the market demand.</p>
                    <p> 6. Better integration with other management system such as ISO 9001, ISO 14001, ISO 45001 and various others.</p>

                </div>
                <div class="about-details-cap mb-50">
                    <h4>More Specific Benefits of ISO 50001:</h4>
                    <p> 1. Significant Savings.</p>
                    <p> 2. Improve overall performance to reduce energy consumption & bills.</p>
                    <p>3. Reduced carbon emissions & meet government cut targets.</p>
                    <p> 4. Mitigate effects of future legislation.</p>
                    <p>5. Open opportunities for energy innovation.</p>
                    <p>6. Measure and monitor energy use to identify where to improve efficiency.</p>
                </div>
            </div>
        </div>
    </div>
</div>

