
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <div class="about-details section-padding30">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-lg-8">
                        <div class="about-details-cap mb-50">
                            <h4>AWARENESS PROGRAMMES</h4>
                            <h3>
                                Awareness Programmes For ISO & Other Industry required Standards:
                            </h3>
                            <p>

                                ISO 9001:2015 (Quality Management System). <br />
                                ISO 14001:2015 (Environment Management System). <br />
                                ISO 22000:2018(Food Safety Management System).<br />
                                ISO 27001:2013 (Information Security Management System).<br />
                                ISO 20000 (Information Technology Management System).<br />
                                ISO 13485:2016 (Quality Management System-Medical Devices).<br />
                                OHSAS 45001:2018 (Occupational Health Safety & System).<br />
                                Gost R (GOST R standards are valid only within the territory of the Russian Federation.).<br />
                                Sedex (Sedimentary exhalative deposits).<br />
                                RoHS (Restriction of Hazardous Substances).<br />
                                CE-Marking (Conformittee Europeane).<br />
                                GMP (Good Manufacturing Practice).<br />
                                HACCP (Hazard Analysis & Critical Control Point).

                            </p>

                        </div>

                        <div class="about-details-cap mb-50">
                            <h4>INTERNAL AUDITOR TRAININGS</h4>
                            <p>
                                Get professional skills of Auditing/Internal Auditing in field of Management System by availing trainings from MAPPLE & ensure your organization management systems achieve their full potential. This two days (depends on standard) training course provide you guidance through internal audit process whether your organization has implemented ISO 9001 (Quality Management system), ISO 14001 (Environment Management System), 18001 (Occupational Health Safety & System), 22000 (Food Safety Management System), 27001 (Information Security Management System), 13485 (Quality Management System-Medical Devices) and other Management and Product standard are being used by organization to perform in better ways.
                            </p>
                            <p>

                                It helps the organization to development a potential infrastructure related to documentation, Processes, work environment, establishing policies, procedures, plan, and responsibilities.

                            </p>
                            <p>
                                MAPPLE has a capable auditor’s team in association with many training provider authorities along with its own trainers to provide trainings according to the requirements of delegates/organizations.
                            </p>
                            <p>
                                Internal Audit Training courses provided by us:
                            </p>
                            <p>
                                ISO 9001(Quality Management System). <br />
                                ISO 14001 (Environment Management System).<br />
                                OHSAS 18001 (Occupational Health Safety & System).<br />
                                ISO 22000 (Food Safety Management System).<br />
                                ISO 27001 (Information Security Management System).<br />
                                ISO 13485 (Quality Management System-Medical devices).<br />
                                ISO 16949 (TS-Technical Specification-Automotive).<br />
                                GMP (Good Manufacturing Practice).<br />
                                HACCP (Hazardous Analysis and Critical Control Point) (Codex Basis).<br />

                            </p>
                            <p>
                                Who should attend this course?
                            </p>
                            <p>
                                Individuals responsible for /or interested in, conducting first party or second party audits. <br />
                                Those who are looking career in auditing field.  <br />
                                Management representative. <br />
                                Quality Analysers. <br />

                            </p>
                            <p>
                                What you learn?
                            </p>
                            <p>
                                Setting objectives for planning and performing a internal audit. <br />
                                Conducting an opening and closing meeting.<br />
                                Get the ability to confidently report findings and take corrective action.<br />
                                Understand the implications of employee behaviour on management systems audit.<br />

                            </p>
                            <p>
                                Course Benefits:
                            </p>
                            <p>
                                Be confident in effective audit and compliance. <br />
                                Be confident in managing teams of internal auditors in your organization, or third party audits.<br />
                                Be confident that your organization can rely on ISO certified lead auditors.<br />

                            </p>
                        </div>
 


                        <div class="about-details-cap mb-50">
                            <h4>LEAD AUDITOR TRAININGS</h4>
                            <p>
                                LEAD AUDITOR TRAININGS is the attainment of information, talents, and competency as a result of the teaching of professional or practical skills and information that relate to definite useful competencies.
                            </p>
                            <p>
                                MAPPLE delivers Lead Auditor training, for Management Standards in association with different registered training organization.
                            </p>
                            <p>
                                MAPPLE is recommending a good option for you to take knowledgeable training
                            </p>
                            <p>
                                List of courses for which we provide and arrange training for you & your bright career in field of Quality & Certification in Management Certification:
                            </p>
                            <p>
                                ISO 9001:2015 QMS (Quality Management System). <br />
                                ISO 14001:2015-EMS (Environment Management System. <br />
                                OHSAS 18001:2007-OHSAS (Occupational Health Safety & System). <br />
                                ISO 22000:2005 -FSMS (Food Safety Management System). <br />

                            </p>
                </div>
            </div>
        </div>
                </div>
            </div>

    </main>

